In [132]:
import pandas as pd
import os

#path to file
bankcsv = os.path.join("..", "budget_data.csv" )

bankData_df = pd.read_csv(bankcsv)

months = len(bankData_df["Date"])
print(f'Number of months is {months}')

totRevenue = sum(bankData_df["Profit/Losses"])
print(f'Total revenue is {totRevenue}')

bankData_df["Diff Revenue"] = bankData_df["Profit/Losses"].diff()



maxVal = bankData_df["Diff Revenue"].max()
maxRecord = bankData_df.loc[bankData_df["Diff Revenue"] == maxVal]
maxMonth = maxRecord.iloc[0,0]

minVal = bankData_df["Diff Revenue"].min()
minRecord = bankData_df.loc[bankData_df["Diff Revenue"] == minVal]
minMonth = minRecord.iloc[0,0]

avgVal =  bankData_df.loc[:,"Diff Revenue"].mean()

print(f'Average  Change: ${avgVal}')
print(f'Greatest Increase in Profits : {maxMonth} ${maxVal}')
print(f'Greatest Decrease in Profits : {minMonth} ${minVal}')

Number of months is 86
Total revenue is 38382578
Average  Change: $-2315.1176470588234
Greatest Increase in Profits : Feb-2012 $1926159.0
Greatest Decrease in Profits : Sep-2013 $-2196167.0

In [107]:
bankData_df.head()

       Date  Profit/Losses  Diff Revenue
0  Jan-2010         867884           NaN
1  Feb-2010         984655      116771.0
2  Mar-2010         322013     -662642.0
3  Apr-2010         -69417     -391430.0
4  May-2010         310503      379920.0

In [113]:
maxVal = bankData_df["Diff Revenue"].max()
maxVal

1926159.0

In [126]:
maxMonth = bankData_df.loc[bankData_df["Diff Revenue"] == maxVal]
#maxMonth = maxMonth["Date"]
maxMonthName = maxMonth.iloc[0,0]
maxMonthName
#only_billys = df.loc[df["first_name"] == "Billy", :]

'Feb-2012'

In [ ]:
#diffRevenue = diffRevenue.rename(columns={"Profit/Losses": "Diff Revenue"})
result = pd.concat([bankData_df, diffRevenue], axis=1)
result.head()